.radio {
    /* Hide the default radio button */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Use a custom style for the radio button */
    width: 16px; /* Set the width */
    height: 16px; /* Set the height */
    border-radius: 50%; /* Make it round */
    border: 2px solid #6741D9; /* Set the border color */
    background-color: #FFFFFF; /* Set the default background color */
    margin: 10px;
    cursor: pointer;
    outline: none; /* Remove the outline */
    /* Style the checked state */
    &:checked {
      background-color: #6741D9; /* Set the background color when checked */
      border-color: #FFFFFF; /* Set the border color when checked */
    }
  }
  .radioLabel{
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 5px;
    display: flex;
    align-items: center;
  }

  .options{
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-between;
  }

  .amount{
    width: 15vw;
    background-color: transparent;
    border: 1px solid ;

    font-size: 16px;
    border-radius: 10px;
    height: 40px;
    padding-left: 2px;
    
    text-align: center;
  }

  .error{
    color: red;
    font-size: 15px;
    text-align: center;
    position: absolute;
    margin-top: 50px;
    margin-left: 5px;
    
  }

  .card{
    width:50px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    padding: 2px;
    position: relative;
  }

  .disable{
border-color:#C2C2C2 ;
color: #C2C2C2;
  }

  .enable{
    border-color: #FFF;
    color: #FFF;
  }

  .dashBoard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  @media screen and (max-width: 640px) {
    .options {
        width: 40vw;
        margin: 0;
        padding: 0;
    }
    
}
